.nozztra{
    width: 100%;
    height: 600px;
}
.glod{
    width: 100%;
    height: 600px;
}

#contenedor::-webkit-scrollbar {
    width: 7px;
    background-color: fuchsia;
}

#contenedor::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 7px;
    height: 50px;
}